.card{
  background-color: #18191A;
position: relative;
border-radius: 12px;
background-color: white;
width: 30rem;
height: 31rem;
border:1px solid lightgray;
background-color: white;
margin-bottom: 10px;
padding: 1px;
/* box-shadow: 12px -7px 3px -5px rgba(0,0,0,0.1); */
box-shadow: 0px 0px 10px 2px lightgray;
}
.tuio{
  font-size: 10px;
}
body{
  background-color: white;
}
.allCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forImg{
  width: 30px;
  height: 30px;
  border-radius: 40px;
position: relative;
top: 10px;
left: 8px;
}
.one{
  display: flex;
  width: 100%;
  height: 60px;
}
.zz{
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  position: relative;
  left: 17px;
  color: black;
  top: 12px;
}
.borderbar{
  width: 20px;
  height: 20px;
  background-color: #18191A;
  position: absolute;
  right: 2%;
  top: 18px;
}
.pic2{
  width: 100%;
  height: 360px;
}
.last-end{
  width: 100%;
  position: absolute;
  top: 420px;
  height: 60px;
}
.tp{
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
}
.comment{
font-size: 0.9rem;
position: absolute;
right: 2%;
top: 0%;

}
.icons0{
  margin-left: 10px;
  margin-top: 7px;
}
.farmore{
  position:absolute;
  top: 470px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 19px;
}
.farmore > button{
height: 20px;
display: flex;
background: none;
align-items: center;
font-size: 0.8rem;
  border-radius: 20px;
  border: none;
}
.jj{
  width: 20px;
  background-color: red;
}
.hh{
  width: 10px;
  height: 14px;
  position: relative;
  top: 0%;
  margin-left: 4px;
}
.com{
  width: 20px;
  height: 15px;

}
.share{
  width: 20px;
  height: 15px;
  position: relative;
  top: 1px;
}